*/*.tex
*/*.aux
*/*.log
*/*.out
*/*.toc
*/*.fdb_latexmk
*/*.fls
*/*.blg
*/*.bbl
*/*.bcf
*/*.run.xml
*/*.xdv
*/*.lof
*/*.lot
*/*.lol
*/*.listing
*/*.gz
*/*.tar
*/*.zip
*/*.rar
*/*.bak
*/*.swp
*/*.synctex(busy)
*/*.synctex
*/*.synctex.gz(busy)
*/*.synctex.gz
*/*.synctex.gz\(busy\)
*/*.synctex\(busy\)
*/*.synctex
*/*.vrb
*/*.nav
*/*.snm
*/*.dvi
